.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
    opacity: 0;
}

.myError {
    list-style: none;
    margin-bottom: 5px;
    font-weight: bold;
    color: red;
}

.v-toolbar__content,
.v-toolbar__extension {
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-weight: bold;
}